<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.takeout.mapper.EmployeeMapper">
    <insert id="add" parameterType="com.takeout.entity.Employee">
        INSERT INTO employee
        (id_number, name, phone, sex, username, password, status, create_time, update_time, create_user, update_user)
        VALUES(#{idNumber}, #{name}, #{phone}, #{sex}, #{username}, #{password}, #{status}, #{createTime},
               #{updateTime}, #{createUser}, #{updateUser})
    </insert>

    <update id="update">
        UPDATE employee
        <set>
            <if test="username != null">username = #{username},</if>
            <if test="name != null">`name` = #{name},</if>
            <if test="password != null">password = #{password},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="idNumber != null">id_number = #{idNumber},</if>
            <if test="status != null">status = #{status},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateUser != null">update_user = #{updateUser},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createUser != null">create_user = #{createUser},</if>
        </set>
        WHERE id = #{id}
    </update>

    <select id="getEmployeeByUsername" resultType="com.takeout.entity.Employee">
        SELECT * FROM employee
        <where>
            <if test="username != null and username != ''">
                username = #{username}
            </if>
        </where>
    </select>

    <select id="getEmployeeByName" resultType="com.takeout.entity.Employee">
        SELECT * FROM employee
        <where>
            <if test="name != null and name != ''">
                name LIKE CONCAT('%', #{name}, '%')
            </if>
        </where>
    </select>
    <select id="getEmployeeById" resultType="com.takeout.entity.Employee">
        SELECT * FROM employee
        WHERE id = #{id}
    </select>
</mapper>