<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.takeout.mapper.SetMealDishMapper">
    <delete id="batchDelete">
        DELETE * FROM setmeal_dish
        WHERE id IN
            <foreach collection="ids" item="id" separator="," open="(" close=")">
                #{id}
            </foreach>
    </delete>



    <select id="querySetMealNumByDishID" resultType="java.lang.Long">
        SELECT COUNT(*) FROM setmeal_dish
        WHERE id = #{id}
    </select>
</mapper>